.conteinerDashboard {
    display: flex;
    flex-direction: column;

    h1{
        display: flex;
        justify-content: center;
        background-color: #0aa843;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
}
.linksDashboard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    
    h2{
        margin: 1rem;
        background-color: #e619e2;
        border-radius: 0.5rem;
        width: 30%;
        text-align: center;
    }
    
    a{
        text-decoration: none;
        color: #FFFFFF;
        font-weight: bolder;        
        
    }
}